/* styles.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
  background-size: cover;
  font-family: Lato;
  height: 100vh;
  padding: 0;
  margin: 0;
  
}

.video-container {
  position: relative;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  z-index: 1
}

#video {
  width: 100%;
  height: auto;
  animation: fadeIn 2s ease-in-out;
  z-index: 3;
}

.gradient-overlay-left,
.gradient-overlay-right {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 2; /* Set a higher z-index to overlay the gradient on top of the video */
  pointer-events: none; /* Ensure the overlay doesn't block interactions with the video */
}

.gradient-overlay-left {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 85%, rgb(0, 0, 0, 1) 100%);
  left: 0%;
}

.gradient-overlay-right {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.8) 85%, rgb(0, 0, 0, 1) 100%);
  right: 0%;
}


.notepad {
  min-width: 200px;
  min-height: 100px;
  position: absolute;
  width: 80%;
  max-width: 600px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 0;
  font-family: Arial, sans-serif;
  z-index: 1;
  resize: both;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Make the notepad flex container */
  user-select: none; /* Prevent text selection */
}

.notepad-header {
  width: 100%;
  height: 20px;
  cursor: grab;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 2;
}

textarea {
  flex: 1; /* Fill available space vertically */
  width: 100%;
  resize: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.minimize-button {
  margin-right: 10px;
  cursor: pointer;
}

.reopen-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}